.personal{
 
    display: flex;
    align-items: center;
    width: 100%;
    background: blue;
    padding: 10px;
    color: white;
    border: 0;

}
.short{padding: 5px;
    background: aqua;
    margin-right: 6px;
}

